body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
}

nav {
    background-color: #eee;
    padding: 0.5em;
}

section {
    padding: 2em;
}

footer {
    background-color: #101010;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.social-links {
    list-style: none;
    padding: 0;
}

.social-links li {
    display: inline;
    margin-right: 10px;
}

.social-links a {
    text-decoration: none;
    color: #fff;
}

section {
    display: flex;
}

.mySlides {
    width: 100%;
    height: 400px;
    /* Set a fixed height */
    object-fit: cover;
    /* Maintain aspect ratio and cover the container */
}

.profileImg {
    border-radius: 50%;
    max-width: 60px;
    display: block;
    margin-left: 5%;
    margin-right: auto;

}

.motto {
    padding: 3%;
}

.motto p {
    color: #333;
}

#contact-container {
    background-color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    color: #fff;
}

p {
    margin: 0;
    color: #ffffffa1;
}

.contact-info {
    margin-top: 20px;
}

.contact-info a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s ease-in-out;
}

.contact-info a:hover {
    color: #0056b3;
}